header {
  text-align: center;
  line-height: 50px;
}
ul {
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}
ul li {
  list-style-type: none;
  margin: 10px;
  display: flex;
}

ul li span {
  flex: 1;
}
.delete, .addTodo{
  width: 80px;
  height: 30px;
  color: red;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 20px;
  outline: none;
}

footer {
  position: relative;
  margin: 0 auto;
  line-height: 30px;
  height: 80px;
  width: 350px;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  background: rgba(223, 224, 224, .3);
}
footer input {
  height: 24px;
  width: 220px;
  border-radius: 4px;
  outline: none;
  border: 1px solid silver;
}

